@mixin margin-killer {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

@mixin padding-killer {
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
}
/* @include padding-killer; */

@mixin custom-image($url, $size, $position, $repeat) {
    background: $url;
    background-size: $size;
    background-position: $position;
    background-repeat: $repeat;
}

/* @include custom-image(url('/img/img3.png'), 125%, center, no-repeat, 100%, 300px); */

@mixin large-font {
    /*
    https://css-tricks.com/snippets/css/fluid-typography/
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    */
    font-size: calc(10px + (22 - 10) * ((100vw - 300px) / (1600 - 300)));
}

@mixin extra-large-font {
    /*
    https://css-tricks.com/snippets/css/fluid-typography/
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    */
    font-size: calc(16px + (36 - 16) * ((100vw - 300px) / (1600 - 300)));
}

@mixin double-xl-font {
    /*
    https://css-tricks.com/snippets/css/fluid-typography/
    font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
    */
    font-size: calc(24px + (48 - 24) * ((100vw - 300px) / (1600 - 300)));
}

@mixin card-size {
    width: $card-width;
    height: $card-height;
}