@import './variables.scss';
@import './mixins.scss';
@import './cards.scss';

body {
    background-color: rgb(45, 105, 215);
    #table {
        background-color: green;
        text-align: center;
        max-width: 888px;
        max-height: 500px;
        margin: auto;
        h1 {
            @include margin-killer;
            @include large-font;
            font-family: 'oswald', sans-serif;
        }
        img {
            width: 25%;
            height: auto;
        }
        .cardSquare {           
            display: flex;
            margin-left: 40%;
            height: $card-height;
            .card {
                @include card-size;
                z-index: 5;
            }
        }
        #dealerSquare {
            
        }
        #burnPile {
            margin-left: 0!important;
            .card {
                @include card-size;
                z-index: 5;
                
            }
        }
        #playerSquare {
            
        }
    }
}